body {
  color: #333333;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}

h1 {
  font-family: 'Helvetica';
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  letter-spacing: -0.021em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

sup {
  font-size: 80%;
  line-height: 0;
  position: relative;
  top: -0.1em;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

td,
th {
  padding: 10px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: lightsteelblue;
}

.leftcolumn {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #cccccc;
}

#most_impressive {
  font-weight: bold;
  font-size: 36px;
  color: #4f3b21; /* Complementary color for lightsteelblue */
}
