body {
  color: #333333;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em/26px;
}

h1 {
  font-family: 'Helvetica';
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2em/53px;
  letter-spacing: -0.021em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
}

td,
th {
  padding: 10px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: lightsteelblue;
}

.leftcolumn {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #cccccc;
}
